{% extends 'base.html.twig' %}

{% block title %} Nos propriétés {% endblock %}

{% block body %}

    <div class="jumbotron text-center">
        {{ form_start(form_recherche) }}
        <div class="form-row align-items-end">

            <div class="col-md-2 offset-1">
                {{ form_row(form_recherche.prixMax) }}
            </div>

            <div class="col-md-2 ">
                {{ form_row(form_recherche.surfaceMin) }}
            </div>

            <div class="col-md-4">
                {{ form_row(form_recherche.options) }}
            </div>

            <div class="col">
                <button class="btn btn-primary">Envoi</button>
            </div>

        </div>
        {{ form_end(form_recherche) }}
    </div>

    <div class="container">
        <div class="main mt-2">
            <h1>Nos propriétés</h1>

            <div class="row flex">
                {{ include('/pages/_proprietesCards.html.twig')}}
            </div>


            <div class="pagination">
                {{ knp_pagination_render(proprietes) }}
            </div>

            {% if nb_proprietes_pertinentes == 0 %}
                <p>Aucune propriété ne correspond à votre recherche.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}